*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #d4d4d4;
}
.orange {
  background: rgb(250, 180, 89);
  color: rgb(34, 38, 46);
}
.text-orange{color: rgb(250, 180, 89);}
.black {
  background: rgb(34, 36, 39);
  color: rgb(250, 180, 89);
}

.bg-footer{
  background: #333333;
  color: rgb(225, 225, 225);
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
 .nav-link:hover {
  color: rgb(250, 180, 89);
}

.carousel-item img{
  height: 600px;
}
.reserve-grp label, label{
  display: block;
  color: #333;
}
label{
  color: rgb(250, 180, 89);
}
.reserve-grp input, input {
  background: transparent;
  display: block;
  border: none;
  border-bottom:1px solid  #333;
  color:#333;
  outline: none;
  width: 90%;
}
input{
  border-bottom:1px solid  rgb(245, 164, 58);
  color:rgb(245, 164, 58);
  width: 100%;
}
input:focus {
  outline: none;
  background: transparent;
}
.reserve-grp textarea, textarea {
  background: #333;
  color: rgb(250, 180, 89);
  outline: none;
}
textarea{
  color: #333;
  background: rgb(250, 180, 89);
  width: 500px;
}

.btn-custom {
  background:#333;
  color: #fefefe;
  transition: all 0.2s ease-in;
}
.btn-custom:hover{
opacity: 0.9;
}
.btn-orange {
  background:rgb(250, 180, 89);
  color: #333;
  transition: all 0.2s ease-in;
}
.btn-orange:hover{
  background: rgb(6, 11, 22);
  color: rgb(250, 180, 89);
}
.btn-5{
  padding: 3px 10px;
  font-size: 12px;
  height: 25px; 
}
.about-img{
  margin-left: 10px;
}

.review-bg{
  background: linear-gradient(rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)), url('./img/reviewbg.jpg') no-repeat top center/cover;
  color: rgb(245, 164, 58);
  padding: 0.3rem ;
  
}

.review-content{
  background: rgb(250, 180, 89);
  margin: 20px 30px;
  padding: 10px;
  font-size: 14px;
  z-index: 1;
  color: #333;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 25px;
  border-top-right-radius: 35px;
}
.review-content h4 {
  text-align: end;
  margin-right: 5px;
}
.gallery-2 img{
  width: 237px;
}

.footer {
  display: flex;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}
.about-ft, .opening-hrs, .contact-us-ft{
  flex: 1;

}

.about-showcase{
  background: linear-gradient(rgba(0,0,0,0.6),
  rgba(0,0,0,0.7)), url('./img/gallery-img/abtshwcse.jpg')no-repeat center center/cover;
  height: 70vh;
}
.about-showcase div{
  padding-top: 15rem;
  padding-left:4rem;
}
.about-showcase div h4{
  font-family: 'Charm', cursive;
  font-size: 16px;
}


.highlight-img img{
  border-radius: 50%;
  width: 30%;
}

.abt-highlights .h-head{
  border-bottom: 1px solid rgb(250, 180, 89);
}

.subfooter {
  display: block;
  text-align: center;
}

.menu-container {
  max-width: 750px;
  margin: auto;
  padding: 0 1rem;
  
}
.menu-bg1{
  height: 1050px;
  background: rgb(235, 134, 26);
  max-width: 100%;
}
.menu-bg2{
  height: 1050px;
  background: #000;
  max-width: 50%;
  position: relative;
}

.menu-body{
  background: white;
  border-radius: 10px;
  height: 95%;
  width: 600px;
  position: absolute;
  top: 35px;
  left: 60px;
  z-index: 1;
  margin: auto;
}

.header-body{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  background: rgb(235, 134, 26);
  color: #fefeef;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  
}
.header-body > .div1 {
  background: #000;
  width: 30px;
  height: 30px;
  margin-right: -5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.header-body h3 {
  align-self: center;
  padding-top: 2px;
}
.div1 {
margin-right: 5px
}
.div2{
  background: #000;
  width: 30px;
  height: 30px;
  margin-right: -5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

}

.menu-list {
  font-size: 8px;
}

.card-title, .card-subtitle, .menu-list p {
  font-size: 12px;
}

.card-subtitle{
  font-family: 'Charm', cursive;
}
.link-btn {
  border: 1px solid #000;
  padding: 3px 5px;
  margin: 3px 5px;
  background: rgb(245, 164, 58);
  transition: all 0.3s ease-in;
}
.link-btn:hover{
  background: #000;
  color: rgb(235, 134, 26);
}

